<div class="container">
  <div class="row text-center">
    <div class="col-sm-12">
      <h1>Fizz Buzz Main Page</h1>
      <p>Welcome to Fizz Buzz</p>
      <div class="results-container"></div>
    </div>
  </div>
</div>

<script>

  for(i=1; i<=100; i++){
    console.log(i);
    requestResult(i);
  }

  function requestResult(i){
    $.ajax({
      url: "/main/fizz_buzz.json",
      method: 'get',
      data: { number: i },
      async: false
    }).done(function(data) {
      console.log(data);
        $( ".results-container" ).append("<p>").append( i + ": " + data ).append("</p>");
    });
  }

</script>